<h2>New Celebrity</h2>

<form method="POST">

  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="name" />

  <label for="occupation">Occupation</label>
  <input
    type="text"
    id="occupation"
    name="occupation"
    placeholder="Occupation"
  />

  <label for="catchPhrase">Catch Phrase</label>
  <input
    type="text"
    id="catchPhrase"
    name="catchPhrase"
    placeholder="Catch Phrase"
  />

  <button>Submit</button>
</form>