<h1>Welcome to the app</h1>

<a href="celebrities/create">Create New Celebrity</a>
<a href="celebrities">List of Celebrity</a>
<a href="movies/create">Create New Movie</a>
<a href="movies">List of movies</a>