body {
  font-family: sans-serif;
  max-width: 900px;
  margin: 0 auto;
}

/* Your styles here */
label {
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}
